.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button {
    margin: 1rem 0;
  }
}

.sidebar a::after {
  color: white!important;
}

br {
  display: block;
  content: "";
  border-bottom: 10px solid transparent;
}

ul {
  margin-bottom: 0;
}

.fine {
  color: white;
}

.home-message-special {
  font-size: 1.25rem;
  font-weight: 700;
}

.icon-github {
  color: white;
}

.sidebar-social>ul>li>a {
  height: 3.5rem;
}